doctype html
html(lang="en")
  head
    include ./components/headDefaults
    title About Us
  body
    #app
      include ./components/navbar
      .ui.container
        .ui.segment.basic.padded
          .ui.header.huge Primitive e-commerce example website written in Node.JS
        .ui.segment.basic
