doctype html
html(lang="en")
  head
    include ./components/headDefaults
    title Eshop
  body
    #app
      include ./components/navbar
      .ui.container
        .ui.segment.basic.padded
          .ui.header.huge Welcome to Eshop!
          .ui.items.divided
            if products
              each product in products
                include ./components/productCard
            else
              .ui.header There are no products yet, but you can them yourself
