doctype html
html(lang="en")
  head
    include ./components/headDefaults
    title Eshop
  body
    #app
      include ./components/navbar
      .ui.container
        .ui.segment.basic.padded
          .ui.header.huge Welcome to Eshop!
          .ui.items.divided
            each product in products
              include ./components/productCard
