doctype html
html(lang="en")
  head
    include ./components/headDefaults
    title Log in
  body
    #app
      include ./components/navbar
      .ui.container
        .ui.segment.aligned.center.padded
          h1.header Log in
          form.ui.form(action="/auth/login", method="POST")
            .field
              label Email
              input#email(type="email", name="email" placeholder="Email")
            .field
              label Password
              input#password(type="password", name="password" placeholder="Password")
            button#submit.ui.button(type="submit") Submit
