doctype html
html(lang="en")
  head
    include ./components/headDefaults
    title 404 - Not Found
  body
    #app
      include ./components/navbar
      .ui.container
        .ui.segment.basic 
          h1.header Page not found!
