ui.container.fluid
  .ui.menu.inverted.large
    .ui.container
      a.item(href="/") Home
      a.item(href="/about") About
      if user
        a.item(href="/products/add") Add product
      .menu.right
        if user
          a.item(href="/profile")
            i.icon.user.circle
            | #{user.firstName} #{user.lastName}
          a.item(href="/auth/logout") Log out
        else  
          a#register.item.link(href="/auth/register") Register
          a#login.item.link(href="/auth/login") Log in
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js")
script.
  $('.ui.dropdown').dropdown({ on: 'hover' });
