.item
  a(href="/products/" + product.id)
    .ui.image.small
      img(src="https://semantic-ui.com/images/wireframe/image.png", alt="good")
  .content
    .ui.segment.padded.basic
      .ui.header.meduim
        a(href="/products/" + product.id) #{product.title}
      .description
        p #{product.description}
      .extra
        a.ui.button.primary.floated.right(href="/products/" + product.id) Buy
          i.icon.chevron.right
