.item
  .image
    img(src="https://semantic-ui.com/images/wireframe/image.png", alt="good")
  .content
    .header #{product.title} Prod 1
    .description
      p #{product.description}
    .extra
      .ui.button.primary.floated.right Buy
        i.icon.chevron.right